<div class="row">
    <div class="col-md-4 col-lg-3 col-12">
        <div class="bg-white rounded shadow p-3">
            
            <ul>
                <li *ngFor="let chat of chats" (click)="openChat(chat)">
                    {{ chat.name }}
                </li>
            </ul>

        </div>
    </div>
    <div class="col-md-8 col-lg-9 col-12">
        <div class="bg-white rounded shadow p-3">
            <div class="col-12 text-muted text-center" *ngIf="!currentChat">
                Select a chat on the sidebar
            </div>
            <div class="row" *ngIf="currentChat">
                <div class="col-12">
                    <h5>{{ currentChat.name }}</h5>
                    <hr>
                </div>
                <div id="messages" class="col-12">

                    <ul class="chat">
                        <li class="message" *ngFor="let message of currentChat.messages" [ngClass]="{ 'me' : message.user_id == utils.userId(), 'other' : message.user_id != utils.userId() }">
                            {{ message.content }}
                        </li>
                    </ul>

                </div>

                <div class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type a message..." [(ngModel)]="currentMessage">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" (click)="sendMessage()">Send</button>
                        </div>
                        </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>